In [1]:
#coding:utf8
%matplotlib inline

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

这个一篇针对pandas新手的简短入门，想要了解更多复杂的内容，参阅[*Cookbook*](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

通常，我们首先要导入以下几个库：

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 创建对象

通过传递一个list来创建**Series**，pandas会默认创建整型索引：

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

通过传递一个numpy array，日期索引以及列标签来创建一个**DataFrame**：

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.468487  1.208072  0.599196 -0.477856
2013-01-02  1.257332  0.219522 -1.317152 -0.991816
2013-01-03 -1.434229  0.696426  0.726270 -2.391424
2013-01-04 -0.291698  0.728992 -0.670231  1.271012
2013-01-05  1.977278 -0.897107 -0.140563 -1.242510
2013-01-06 -1.257988  1.163625  0.486119 -0.311855

通过传递一个能够被转换为类似series的dict对象来创建一个**DataFrame**:

In [7]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3]*4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

可以看到各列的数据类型为：

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 查看数据

查看frame中头部和尾部的几行：

In [9]:
df.head()

                   A         B         C         D
2013-01-01  1.468487  1.208072  0.599196 -0.477856
2013-01-02  1.257332  0.219522 -1.317152 -0.991816
2013-01-03 -1.434229  0.696426  0.726270 -2.391424
2013-01-04 -0.291698  0.728992 -0.670231  1.271012
2013-01-05  1.977278 -0.897107 -0.140563 -1.242510

In [10]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.291698  0.728992 -0.670231  1.271012
2013-01-05  1.977278 -0.897107 -0.140563 -1.242510
2013-01-06 -1.257988  1.163625  0.486119 -0.311855

显示索引、列名以及底层的numpy数据

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [13]:
df.values

array([[ 1.46848704,  1.20807152,  0.59919578, -0.47785588],
       [ 1.25733203,  0.21952192, -1.31715246, -0.99181572],
       [-1.43422943,  0.69642583,  0.72627007, -2.39142435],
       [-0.29169767,  0.72899202, -0.67023106,  1.27101233],
       [ 1.97727834, -0.89710691, -0.14056282, -1.24250994],
       [-1.25798839,  1.16362533,  0.4861186 , -0.31185522]])

describe()能对数据做一个快速统计汇总

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.286530  0.519922 -0.052727 -0.690741
std    1.475060  0.782429  0.813633  1.210353
min   -1.434229 -0.897107 -1.317152 -2.391424
25%   -1.016416  0.338748 -0.537814 -1.179836
50%    0.482817  0.712709  0.172778 -0.734836
75%    1.415698  1.054967  0.570926 -0.353355
max    1.977278  1.208072  0.726270  1.271012

对数据做转置：

In [ ]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.468487    1.257332   -1.434229   -0.291698    1.977278   -1.257988
B    1.208072    0.219522    0.696426    0.728992   -0.897107    1.163625
C    0.599196   -1.317152    0.726270   -0.670231   -0.140563    0.486119
D   -0.477856   -0.991816   -2.391424    1.271012   -1.242510   -0.311855

按轴进行排序：

In [ ]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.477856  0.599196  1.208072  1.468487
2013-01-02 -0.991816 -1.317152  0.219522  1.257332
2013-01-03 -2.391424  0.726270  0.696426 -1.434229
2013-01-04  1.271012 -0.670231  0.728992 -0.291698
2013-01-05 -1.242510 -0.140563 -0.897107  1.977278
2013-01-06 -0.311855  0.486119  1.163625 -1.257988

按值进行排序 :

In [ ]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05  1.977278 -0.897107 -0.140563 -1.242510
2013-01-02  1.257332  0.219522 -1.317152 -0.991816
2013-01-03 -1.434229  0.696426  0.726270 -2.391424
2013-01-04 -0.291698  0.728992 -0.670231  1.271012
2013-01-06 -1.257988  1.163625  0.486119 -0.311855
2013-01-01  1.468487  1.208072  0.599196 -0.477856

# 数据选择

注意：虽然标准的Python/Numpy的表达式能完成选择与赋值等功能，但我们仍推荐使用优化过的pandas数据访问方法：.at，.iat，.loc，.iloc和.ix

## 选取

选择某一列数据，它会返回一个**Series**，等同于**df.A**：

In [ ]:
df['A']

2013-01-01    1.468487
2013-01-02    1.257332
2013-01-03   -1.434229
2013-01-04   -0.291698
2013-01-05    1.977278
2013-01-06   -1.257988
Freq: D, Name: A, dtype: float64

通过使用**[ ]**进行切片选取：

In [ ]:
df[0:3]

                   A         B         C         D
2013-01-01  1.468487  1.208072  0.599196 -0.477856
2013-01-02  1.257332  0.219522 -1.317152 -0.991816
2013-01-03 -1.434229  0.696426  0.726270 -2.391424

In [ ]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  1.257332  0.219522 -1.317152 -0.991816
2013-01-03 -1.434229  0.696426  0.726270 -2.391424
2013-01-04 -0.291698  0.728992 -0.670231  1.271012

## 通过标签选取

通过标签进行交叉选取：

In [ ]:
df.loc[dates[0]]

A    1.468487
B    1.208072
C    0.599196
D   -0.477856
Name: 2013-01-01 00:00:00, dtype: float64

使用标签对多个轴进行选取

In [ ]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.468487  1.208072
2013-01-02  1.257332  0.219522
2013-01-03 -1.434229  0.696426
2013-01-04 -0.291698  0.728992
2013-01-05  1.977278 -0.897107
2013-01-06 -1.257988  1.163625

进行标签切片，包含两个端点

In [ ]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.257332  0.219522
2013-01-03 -1.434229  0.696426
2013-01-04 -0.291698  0.728992

对于返回的对象进行降维处理

In [ ]:
df.loc['20130102',['A','B']]

获取一个标量

In [ ]:
df.loc[dates[0],'A']

快速获取标量（与上面的方法等价）

In [ ]:
df.at[dates[0],'A']

## 通过位置选取

通过传递整型的位置进行选取

In [ ]:
df.iloc[3]

通过整型的位置切片进行选取，与python/numpy形式相同

In [ ]:
df.iloc[3:5,0:2]

只对行进行切片

In [ ]:
df.iloc[1:3,:]

只对列进行切片

In [ ]:
df.iloc[:,1:3]

只获取某个值

In [ ]:
df.iloc[1,1]

快速获取某个值（与上面的方法等价）

In [ ]:
df.iat[1,1]

## 布尔索引

用某列的值来选取数据

In [ ]:
df[df.A > 0]

用**where**操作来选取数据

In [ ]:
df[df > 0]

用**isin()**方法来过滤数据

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

In [ ]:
df2[df2['E'].isin(['two', 'four'])]

## 赋值

赋值一个新的列，通过索引来自动对齐数据

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102',periods=6))
s1

In [ ]:
df['F'] = s1
df

通过标签赋值

In [ ]:
df.at[dates[0], 'A'] = 0
df

通过位置赋值

In [ ]:
df.iat[0,1] = 0
df

通过传递numpy array赋值

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))
df

通过**where**操作来赋值

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

# 缺失值处理

在pandas中，用**np.nan**来代表缺失值，这些值默认不会参与运算。

reindex()允许你修改、增加、删除指定轴上的索引，并返回一个数据副本。

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

剔除所有包含缺失值的行数据

In [ ]:
df1.dropna(how='any')

填充缺失值

In [ ]:
df1.fillna(value=5)

获取值是否为**nan**的布尔标记

In [ ]:
pd.isnull(df1)

# 运算

## 统计

运算过程中，通常不包含缺失值。

进行描述性统计

In [ ]:
df.mean()

对其他轴进行同样的运算

In [ ]:
df.mean(1)

对于拥有不同维度的对象进行运算时需要对齐。除此之外，pandas会自动沿着指定维度计算。

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

In [ ]:
df.sub(s, axis='index')

## Apply 函数作用

通过apply()对函数作用

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x:x.max()-x.min())

## 频数统计

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

## 字符串方法

对于Series对象，在其str属性中有着一系列的字符串处理方法。就如同下段代码一样，能很方便的对array中各个元素进行运算。值得注意的是，在str属性中的模式匹配默认使用正则表达式。

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

# 合并

## Concat 连接

pandas中提供了大量的方法能够轻松对Series，DataFrame和Panel对象进行不同满足逻辑关系的合并操作

通过**concat()**来连接pandas对象

In [ ]:
df = pd.DataFrame(np.random.randn(10,4))
df

In [ ]:
#break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces)

## Join 合并

类似于SQL中的合并(merge)

In [ ]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1,2]})
left

In [ ]:
right = pd.DataFrame({'key':['foo', 'foo'], 'lval':[4,5]})
right

In [ ]:
pd.merge(left, right, on='key')

## Append 添加

将若干行添加到dataFrame后面

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

In [ ]:
s = df.iloc[3]
s

In [ ]:
df.append(s, ignore_index=True)

# 分组

对于“group by”操作，我们通常是指以下一个或几个步骤：
* **划分** 按照某些标准将数据分为不同的组
* **应用** 对每组数据分别执行一个函数
* **组合** 将结果组合到一个数据结构

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 
                          'foo', 'bar', 'foo', 'bar'],
                   'B' : ['one', 'one', 'two', 'three', 
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

分组并对每个分组应用sum函数

In [ ]:
df.groupby('A').sum()

按多个列分组形成层级索引，然后应用函数

In [ ]:
df.groupby(['A','B']).sum()

# 变形

## 堆叠

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [ ]:
df2 = df[:4]
df2

**stack()**方法对DataFrame的列“压缩”一个层级

In [ ]:
stacked = df2.stack()
stacked

对于一个“堆叠过的”DataFrame或者Series（拥有MultiIndex作为索引），**stack()**的逆操作是**unstack()**，默认反堆叠到上一个层级

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

## 数据透视表

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

 我们可以轻松地从这个数据得到透视表

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

# 时间序列

pandas在对频率转换进行重新采样时拥有着简单，强大而且高效的功能（例如把按秒采样的数据转换为按5分钟采样的数据）。这在金融领域很常见，但又不限于此。

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
rng

In [ ]:
ts = pd.Series(np.random.randint(0,500,len(rng)), index=rng)
ts

In [ ]:
ts.resample('5Min', how='sum')

时区表示

In [ ]:
rng = pd.date_range('3/6/2012', periods=5, freq='D')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

时区转换

In [ ]:
ts_utc.tz_convert('US/Eastern')

时间跨度转换

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

日期与时间戳之间的转换使得可以使用一些方便的算术函数。例如，我们把以11月为年底的季度数据转换为当前季度末月底为始的数据

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
prng

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), index = prng)
ts

In [ ]:
ts.index = (prng.asfreq('M', 'end') ) .asfreq('H', 'start') +9
ts

# 分类

从版本0.15开始，pandas在**DataFrame**中开始包括分类数据。

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'e', 'e']})
df

把raw_grade转换为分类类型

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

重命名类别名为更有意义的名称

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

对分类重新排序，并添加缺失的分类

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

排序是按照分类的顺序进行的，而不是字典序

In [ ]:
df.sort_values(by="grade")

按分类分组时，也会显示空的分类

In [ ]:
df.groupby("grade").size()

# 绘图

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

对于DataFrame类型，**plot()**能很方便地画出所有列及其标签

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index, columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

# 获取数据的I/O

## CSV

写入一个csv文件

In [ ]:
df.to_csv('foo.csv')

从一个csv文件读入

In [ ]:
pd.read_csv('foo.csv')

## HDF5

HDFStores的读写

写入一个HDF5 Store

In [ ]:
df.to_hdf('foo.h5', 'df')

从一个HDF5 Store读入

In [ ]:
pd.read_hdf('foo.h5', 'df')

## Excel

MS Excel的读写

写入一个Excel文件

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

从一个excel文件读入

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])